.bundle
Gemfile.lock
build_options.yml
bin/*
db/*.sqlite3
tmp/**/*
tmp/restart.txt
log/*.log
config/database.yml
config/environments/*.yml
vendor/bundler_gems/*
!vendor/bundler_gems/ruby/1.8/cache/
public/stuff/tunes
