<h1>maz.org</h1>

<div id="checkins"></div>

<% content_for(:head) do %>
  <title>maz.org</title>
<% end %>

<% content_for(:script) do %>
  $('div#checkins').checkin_map({
    url: '<%= checkins_path %>'
  });
<% end %>
