<h1>maz.org</h1>

<div id="checkins" style="width: 390px; height: 450px;"></div>

<% content_for(:head) do %>
  <title>maz.org</title>
  <%= javascript_include_tag 'date' %>
  <%= content_tag(:script, nil,
        :src => 'http://maps.google.com/maps/api/js?sensor=false') %>
<% end %>

<% content_for(:script) do %>
  $('div#checkins').checkin_map({
    url: '<%= checkins_path %>'
  });
<% end %>
